/*とうふれロゴ背景*/
body{
  background-image: url(./logo.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -30pt 50pt;
}

/*ヘッダ*/

header{
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
header ul{
	list-style: none;
	background-color: antiquewhite;
}
header li{
	margin-right: 30px; 
	text-align:right;
}



/*メニュー*/
aside{
	margin: 250px 50px 0px -45px;
  padding-bottom: 200%;
 	float: left;
 }

aside ul{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

aside li.menuList{ 
	display: inline; 
	padding: 0; 
	margin: 0; 
  margin-bottom: -10px;
}

aside li.menuList a{
	display: block; 
	border: 1px solid #9F99A3;
	-webkit-border-top-right-radius: 30px;
	-webkit-border-bottom-right-radius: 30px;
	-moz-border-radius-topright: 30px;
	-moz-border-radius-bottomright: 30px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;


	background-color: #EEEEEE;
	padding: 10px 10px;
	text-align: right;
	text-decoration: none;
	color: #333;
	width: 150px; 
	margin: 15px 0px;
	font-size: 17px;
}
aside li.menuList a:hover{
	border: 1px solid #8593A9;
	background-color: #9EB7DD;
	margin-left: 20px;
	margin-right: -20px;
}



/*メインコンテンツ*/
 main{
 	margin: 0 auto;
 }

/* ヘッダメニュー */
#nav {
	/*background-color: ;*/
	width: 100%;
}

#nav {
	margin-left: 0px;
	color: white;
	width: 100%;
	margin: 0px;
	padding: 0;
	background-color: black;
}

#nav ul{
	/*margin-left: 0px;*/
	display: block;
	padding-left: 0px;
	letter-spacing: -.40em;
	padding: 0;
	margin: 0;
	width: 100%;
	margin: 0px;
}

#nav a {
    color: white;
    display: block;
    text-decoration:none;
    /*padding: 5px;*/
    width: 100%;
    height: 100%;
}


#nav li {
	letter-spacing: normal;
	display: inline-block;
	box-sizing: border-box;
	margin: ;
	padding: 5px;
	/*padding: 5px;*/
/*	border-right: solid 4px ;*/
	background-color: #000000;
	/*width: 20%;*/
}

#nav li:hover {
	background-color: rgba(100, 100, 100, 0.7);
}

/*掲示板のメニュー*/
#blltnList { 
  background-color: #EEEEEE;
  margin-right: 45px;
  margin-top: -15px;
  text-align: right;
}

#blltnList a{
  display: block; 
  border: 1px solid #9F99A3;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  
}

/* 掲示板 */
h1 {
  text-align: center;
}
div.tabbox { 

    margin: 0px auto;
    margin-top: 10px; 
    width:400px; 
    height:100%;
}
/* ▼ タブ部分のマージンとパディング領域を設定 */
p#tabs { margin: 0 ; padding: 0; }
p#tabs a {
   /* ▼ リンクをタブのように見せる */
   width: 100px; 
   float: left;
   margin: 0px 3px 0px 0px; 
   padding: 3px;
   text-align: center;
   font-size:12px;
}
/* ▼ タブごとの配色設定 */
p#tabs a.tab1 {
    text-decoration:none;
    background-color:#fafafa;
    border-top: 3px solid rgba(255, 191, 00, 0.85);  
    color: #666; 
    font-weight:600;
}
p#tabs a.tab2 {
    text-decoration:none; 
    background-color:#fafafa;
    border-top: 3px solid rgba(82, 223, 102, 0.85);  
    color: #666;
    font-weight:600;
}
p#tabs a.sort{
    text-decoration:none; 
    background-color:#fafafa;
    border-top: 3px solid rgba(116, 1, 223, 0.85);  
    color: #666;
    font-weight:600;
}
p#tabs a:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}

/* ▼ 各ボックスの配色設定 */
div#tab1 {
     margin: 10px auto; 
     border: 2px solid #ffbf00; 
     background-color: #ffbf00;
}
div#tab2 { 
    margin: 10px auto; 
    border: 2px solid #52df66; 
    background-color: #52df66; 
}

div.tab p { margin: 0.5em; }


/*本文*/
p#article{
   font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/* donuts css */
// Place all the styles related to the donuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	text-align: center;
}

/* refrigerators */
// Place all the styles related to the refrigerators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete{
    padding: 5px 30px;
    font-size: 1.6em;
    font-weight: bold;
    background-color: #ff7;
    color: #000;
    
    //角を丸く
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

/*
*auther:やりた
*/
body{/*センタリング*/
	text-align: center;
}

table{/*テーブルをセンタリング*/
	margin: 0 auto;
}

/* table */
/* 表：一覧表示、詳細表示 */
@mixin data-table {
  font-size: 90%;

  th {
    color: #000;
    font-weight: bold;
  }
  td, th {
    padding: 5px;
  }
}

table.list {
  @include data-table;
  th {
    text-align: left;
    background-color: #f4a460;
  }
  td {
    background-color: #ffefd5;
  }
}

table.attr {
  @include data-table;
  width: 100%;
  th {
    text-align: right;
    background-color: #499;
  }
  td {
    background-color: #cee;
  }
}

table.concert {
  @include data-table;

  th {
    text-align: left;
    background-color: #4682b4;
  }
  td {
    background-color: #f0ffff;
    height: 30px;
    border: 1.5px solid #4682b4;
  }
}

/*concertのshow*/
table.show {
  tr:nth-child(odd){
    background-color: #46a2d4;
    color: white;
  }
  tr:nth-child(even){
    background-color: #e0ffff;
    td{
      padding: 3px;
    }
  }
  td[rowspan]{
    background-color: #fff;
  }
}

/*冷蔵庫一覧用*/
table.idx1 {
  @include data-table;
  border-collapse: collapse;
  border: 12px solid #85AFFD;
}
table.idx1 th {
  text-align: center;
  background-color: #FFE154;
  font-size: 15px;
}
table.idx1 tr {
  background-color: #FFF9DE;
  border: 5px #85AFFD solid;
}
table.idx1 a {
  /*セル内全体リンク化*/
  display: block;
  width: 100%;
  hight: 100%;
}

table.idx2 {
  @include data-table;
  border-collapse: collapse;
  border: 12px solid #C5FFFD;
}
table.idx2 th {
  text-align: cebter;
  background-color: #69FF90;
  font-size: 15px;
}
table.idx2 tr {
  background-color: #DDFFDD;
  border: 5px #C5FFFD solid;
}
table.idx2 a {
  display: block;
  width: 100%;
  hight: 100%;
}

/*
td.switch {

}

a:hover {
  background-color: #ffcccc;
  display: block; 
  width: 100%; 
  height: 100%;

}
*/
